@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

.border {
  border: solid 0.1rem var(--border-color);
}

.special-link {
  transition: 0.5s;
  font-weight: bold;
}

.special-link:hover {
  background-position: 0;
  color: var(--highlight);
}

:root {
  font-size: 62.5%;
  --star: #ad963b;
  --base: #d3d2d2;
  --surface: #e8e8e8;
  --surface-2: #454545;
  --border-color: #b5b3b3;
  --highlight: #2e6b89;
  --text: black;
  --error: #c24343;

  font-family: "Quicksand";
  color: var(--surface-2);
}

textarea {
  font-family: "Quicksand";
  background-color: var(--base);
  resize: none;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  width: 85%;
}

textarea::placeholder {
  opacity: 0.9;
}

html {
  width: 100vw;
  height: 100vh;
  background: var(--base);
}

.home {
  background-image: url("/novoBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .home {
    background: #cfcfcf;
    background-position: -65rem;
  }
}

.text-error {
  color: var(--error);
}

body {
  font-size: 1.5rem;
}

h2 {
  font-weight: normal;
  font-size: 3.5rem;
}

h4 {
  font-weight: normal;
  font-size: 2rem;
}

h5 {
  font-weight: normal;
  font-size: 1.6rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 0.1rem var(--border-color);
  background-color: var(--surface);
  border-radius: 3rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  all: unset;
  box-sizing: border-box;
  font-size: 2rem;
  background: var(--base);
  border: solid 0.1rem var(--border-color);
  text-align: left;
  padding: 2rem;
  border-radius: 3rem;
  outline: none;
  width: 100%;
}

input::placeholder {
  opacity: 0.7;
  color: var(--surface-2);
}

input[type="checkbox"] {
  all: unset;
  height: 2rem;
  width: 2rem;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}

input:checked {
  background-color: var(--highlight);
}

input[type="date"] {
  border-radius: 1rem;
  padding: 2rem;
  border: none;
  background-color: var(--base);
}

button {
  all: unset;
  color: #fff;
  font-size: 2rem;
  background: var(--surface-2);
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1.5rem;
  min-width: 10rem;
}

.button {
  all: unset;
  color: #fff;
  font-size: 2rem;
  background: var(--surface-2);
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1.5rem;
  min-width: 10rem;
}

/* SIGN UP PROFILE */

.view-profile {
  pointer-events: none;
}

.view-profile > .link {
  pointer-events: auto;
  transition: 1s ease-in-out;
}

.view-profile:hover > .link:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.view-profile:hover > .link:not(:hover) {
  filter: blur(1.1px);
}

.choose-profile .choose-profile-client:hover .description-client-profile {
  display: block;
}

select {
  padding: 2rem;
  font-size: 2rem;
  cursor: pointer;
  display: grid;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  border-radius: 3rem;
  background-color: var(--base);
  border: solid 0.1rem var(--border-color);
  color: var(--surface-2);
}

@keyframes apear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sub-text {
  color: var(--surface-2);
}

.elipses {
  color: black;
  width: 100%;
  min-height: 2rem;
  max-height: 20rem;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.edit-main {
  position: absolute;
  height: 2rem;
  width: 2rem;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.modal {
  background-color: #00000062;
}

.modal form {
  background-color: #bababac7;
  backdrop-filter: blur(0.3rem);
  -webkit-backdrop-filter: blur(0.3rem);
}

::-webkit-scrollbar {
  height: 0.8rem;
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--border-color);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 1000px) {
  :root {
    font-size: 50%;
  }
}

@media only screen and (max-width: 375px) {
  :root {
    font-size: 25%;
  }
}
